.singleTodoBox {
  background-image: url("./imgs/stickyNote.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 225px;
  width: 225px;
  min-width: 225px;
  margin-top: 10px;
  list-style: none;
}

.textArea {
  max-width: 180px;
  word-wrap: break-word;
  transform: translate(20px, 75px);
  text-align: center;
  font-family: "Permanent Marker", cursive;
}
.textArea input[type="text"] {
  font-family: "Permanent Marker", cursive;
}

.editImg {
  width: 15px;
  height: 15px;
}
.deleteImg {
  width: 15px;
  height: 15px;
}

.textArea .finished {
  text-decoration: line-through;
  opacity: 0.6;
}

.finishedIcon {
  width: 15px;
  height: 15px;
}
